In [13]:
import numpy as np
import pandas as pd 
path = '../data/processed/'
categories = pd.read_csv(path + 'categories.csv')
areas = [pd.read_csv(path + 'area' + str(i) + '.csv') for i in range(1, 8)]

seed = 42
np.random.seed(seed)

In [14]:
categories

   Child  Adult  Electric  Racing  Mountain  Tricycle
0    272  270.0     279.0   267.0     282.0       279
1      1    1.5       1.5     1.7       1.7         4

In [15]:
def expected_profits(categories, area):
    profit = pd.DataFrame(columns=categories.columns, index=[0])
    number = pd.DataFrame(columns=categories.columns, index=[0])

    for column in categories.columns:
        number[column] = np.random.randint(0, categories[column][0]-250)
        profit[column] = sum(area[column][:number[column][0]])

    return number, profit

In [16]:
number, profit = expected_profits(categories, areas[0])

In [17]:
number

   Child  Adult  Electric  Racing  Mountain  Tricycle
0      6     19        28      14        10         7

In [18]:
profit

      Child     Adult  Electric   Racing  Mountain  Tricycle
0  218.5638  447.6968  664.9274  408.661  236.7164  207.0703

In [36]:
areas[0]

       Child    Adult  Electric   Racing  Mountain  Tricycle
0    45.4865   2.8340   30.0077   4.4342   10.7151   48.0768
1    20.9672  33.7961   33.7577  16.2666   23.8518   26.4805
2    51.1888   8.0226   23.1995  22.0913   17.4797   34.0865
3    32.5621  15.4479   18.7077  38.1558   29.3047   18.5265
4    49.7565  39.9104   28.3122  37.8811   43.8064   35.3301
..       ...      ...       ...      ...       ...       ...
110  33.6431   5.0999    0.0000   0.0000    0.0000    0.0000
111  44.9851  42.0108    0.0000   0.0000    0.0000    0.0000
112  15.1996  49.1313    0.0000   0.0000    0.0000    0.0000
113  31.7679  35.7513    0.0000   0.0000    0.0000    0.0000
114   0.0000  22.3771    0.0000   0.0000    0.0000    0.0000

[115 rows x 6 columns]

In [21]:
profit = pd.DataFrame()
number = pd.DataFrame()
for area in areas:
    n, p = expected_profits(categories, area)
    number = pd.concat([number, n], ignore_index=True)
    profit = pd.concat([profit, p], ignore_index=True)

number

   Child  Adult  Electric  Racing  Mountain  Tricycle
0     20      6        25      10        10        23
1     20      3         7       2        21        20
2      1     11         5       1        31        27
3     20      0        11      11        24        16
4      9     15        14      14        29        18
5     11     19        24       2         4        18
6      6      8         6       3        24        27

In [22]:
profit.style.highlight_max(color='lightblue', axis=0)

In [23]:
print(f'Lucro: {profit.sum().sum()}')

Lucro: 13514.521299999999

In [34]:
capacidade = np.sum(np.sum(number.values * categories.iloc[1].values, axis=1))
print(f'Capacidade: {capacidade}')

Capacidade: 1230.2

In [37]:
areas

[       Child    Adult  Electric   Racing  Mountain  Tricycle
 0    45.4865   2.8340   30.0077   4.4342   10.7151   48.0768
 1    20.9672  33.7961   33.7577  16.2666   23.8518   26.4805
 2    51.1888   8.0226   23.1995  22.0913   17.4797   34.0865
 3    32.5621  15.4479   18.7077  38.1558   29.3047   18.5265
 4    49.7565  39.9104   28.3122  37.8811   43.8064   35.3301
 ..       ...      ...       ...      ...       ...       ...
 110  33.6431   5.0999    0.0000   0.0000    0.0000    0.0000
 111  44.9851  42.0108    0.0000   0.0000    0.0000    0.0000
 112  15.1996  49.1313    0.0000   0.0000    0.0000    0.0000
 113  31.7679  35.7513    0.0000   0.0000    0.0000    0.0000
 114   0.0000  22.3771    0.0000   0.0000    0.0000    0.0000

 [115 rows x 6 columns],
      Child   Adult  Electric  Racing  Mountain  Tricycle
 0   0.1331  0.2637    0.0317  0.4305    0.4959    0.9090
 1   0.8234  0.8267    0.3310  0.6806    0.9800    0.1738
 2   0.0001  0.2368    0.5481  0.6413    0.1211    0.5439
 3   0.1559  0.9601    0.0372  0.3078    0.5508    0.0368
 4   0.0701  0.6062    0.1930  0.7688    0.5852    0.9745
 ..     ...     ...       ...     ...       ...       ...
 66  0.0000  0.0000    0.6353  0.0000    0.0000    0.0927
 67  0.0000  0.0000    0.6393  0.0000    0.0000    0.3501
 68  0.0000  0.0000    0.9724  0.0000    0.0000    0.0000
 69  0.0000  0.0000    0.2607  0.0000    0.0000    0.0000
 70  0.0000  0.0000    0.9680  0.0000    0.0000    0.0000

 [71 rows x 6 columns],
        Child    Adult  Electric   Racing  Mountain  Tricycle
 0    95.5498  70.1450    4.6859   0.2982   91.7547   18.7931
 1    77.6643  42.4690   55.6407  58.9823   65.6528   13.9644
 2    91.1621  73.9572    7.1340  59.4069   16.9737   25.8966
 3    12.1487  14.4366    4.9966  80.8373   94.3124    9.0265
 4    21.5347  22.3753   59.7050  31.5336   41.5688   89.9284
 ..       ...      ...       ...      ...       ...       ...
 106   0.0000   0.0000   48.2317   0.0000   35.7291    0.0000
 107   0.0000   0.0000   26.5402   0.0000    0.0000    0.0000
 108   0.0000   0.0000   70.3597   0.0000    0.0000    0.0000
 109   0.0000   0.0000   47.9442   0.0000    0.0000    0.0000
 110   0.0000   0.0000   32.6703   0.0000    0.0000    0.0000

 [111 rows x 6 columns],
        Child    Adult  Electric   Racing  Mountain  Tricycle
 0    51.5870  41.8512   13.4925  75.5565   78.3228    2.5918
 1    26.0770  44.3272    5.6655  58.8861   47.6639   60.4381
 2    74.7620  11.0749   48.2025  25.6256   48.2281   73.4442
 3    63.4112   8.2960    2.6595  53.9240   45.5970   28.2691
 4    51.2866  92.5097   50.4486  86.1784   73.7051    2.6633
 ..       ...      ...       ...      ...       ...       ...
 104  27.9486   0.0000    0.0000  40.3609   23.3845   58.1006
 105   0.0000   0.0000    0.0000   0.0000   49.4548   51.6605
 106   0.0000   0.0000    0.0000   0.0000   25.4213   71.5963
 107   0.0000   0.0000    0.0000   0.0000   71.1289   78.7146
 108   0.0000   0.0000    0.0000   0.0000    0.0000   83.1585

 [109 rows x 6 columns],
      Child   Adult  Electric  Racing  Mountain  Tricycle
 0   0.5907  0.1753    0.9591  0.0452    0.0396    0.7078
 1   0.0047  0.1680    0.5072  0.4853    0.2432    0.1698
 2   0.5284  0.8246    0.7283  0.8933    0.8534    0.6132
 3   0.4097  0.5037    0.6655  0.2239    0.5111    0.1925
 4   0.1003  0.8235    0.4865  0.8904    0.1126    0.9438
 5   0.9929  0.8225    0.1508  0.1331    0.1352    0.7966
 6   0.6389  0.0379    0.4706  0.9947    0.4750    0.4970
 7   0.4705  0.4698    0.3444  0.2442    0.7852    0.6673
 8   0.4411  0.7484    0.5306  0.0143    0.4243    0.7002
 9   0.3392  0.5746    0.5486  0.5577    0.2205    0.4480
 10  0.8723  0.2473    0.1383  0.7399    0.8021    0.5594
 11  0.7274  0.5710    0.4401  0.4900    0.1545    0.2250
 12  0.0876  0.6846    0.4573  0.0440    0.9758    0.3003
 13  0.0588  0.7655    0.9829  0.8074    0.7637    0.4181
 14  0.1917  0.4710    0.8506  0.9569    0.3946    0.1113
 15  0.1507  0.1698    0.4948  0.2051    0.0917    0.8454
 16  0.2542  0.1280    0.6427  0.1746    0.0182    0.4206
 17  0.2563  0.1803    0.9268  0.5693    0.2121    0.9570
 18  0.5659  0.5207    0.7714  0.3654    0.3291    0.2297
 19  0.9716  0.3593    0.2868  0.3897    0.6730    0.1604
 20  0.3658  0.6376    0.3722  0.5413    0.9893    0.8167
 21  0.0824  0.3684    0.9017  0.4672    0.9422    0.4740
 22  0.1184  0.4486    0.8115  0.4830    0.0464    0.1214
 23  0.8470  0.4058    0.3650  0.7743    0.8450    0.0835
 24  0.0871  0.9893    0.9704  0.6526    0.7619    0.3853
 25  0.0342  0.0547    0.0881  0.3796    0.2516    0.2206
 26  0.1349  0.4690    0.7832  0.4216    0.8771    0.5896
 27  0.7607  0.1446    0.3392  0.0015    0.1095    0.5556
 28  0.1561  0.2457    0.0168  0.3008    0.2055    0.7694
 29  0.2366  0.8257    0.8469  0.7347    0.3497    0.4333
 30  0.2050  0.1794    0.7478  0.8592    0.7425    0.2370
 31  0.9662  0.2133    0.8626  0.9578    0.7293    0.1896
 32  0.8252  0.2206    0.6032  0.3354    0.8968    0.9151
 33  0.8036  0.1190    0.3266  0.7002    0.2656    0.5965
 34  0.7228  0.9998    0.8635  0.7809    0.6784    0.0433
 35  0.8138  0.9251    0.2286  0.5177    0.2279    0.6366
 36  0.9694  0.8749    0.1858  0.8398    0.3761    0.1934
 37  0.2682  0.8093    0.5261  0.9802    0.5212    0.8599
 38  0.4682  0.4687    0.6471  0.5402    0.7885    0.5596
 39  0.9198  0.6645    0.5927  0.4570    0.8997    0.2350
 40  0.9290  0.5572    0.4554  0.8847    0.6637    0.4153
 41  0.5350  0.0000    0.9459  0.8411    0.5295    0.9186
 42  0.7906  0.0000    0.4696  0.5471    0.0000    0.5364
 43  0.4684  0.0000    0.3898  0.6248    0.0000    0.4815
 44  0.7311  0.0000    0.0000  0.5990    0.0000    0.6512
 45  0.1972  0.0000    0.0000  0.9111    0.0000    0.1886
 46  0.7115  0.0000    0.0000  0.0000    0.0000    0.9479
 47  0.1340  0.0000    0.0000  0.0000    0.0000    0.9091
 48  0.4934  0.0000    0.0000  0.0000    0.0000    0.0000,
       Child    Adult  Electric   Racing  Mountain  Tricycle
 0    3.3238  81.2511   15.7238  18.9437   81.1827    0.7016
 1   11.2415  10.3905   41.3629  40.3242   80.8068   63.4563
 2   42.3879  70.3053   68.3287  52.3328   30.7437   57.1670
 3   58.9150   0.1004   86.4796  36.1286   13.5877   74.4475
 4   33.1497  43.2226   35.9850  69.0018   86.5286   58.4462
 ..      ...      ...       ...      ...       ...       ...
 92   0.0000   0.0000   81.7534   0.0000    0.0000    0.0000
 93   0.0000   0.0000   16.4702   0.0000    0.0000    0.0000
 94   0.0000   0.0000   52.1229   0.0000    0.0000    0.0000
 95   0.0000   0.0000   82.4365   0.0000    0.0000    0.0000
 96   0.0000   0.0000   67.4827   0.0000    0.0000    0.0000

 [97 rows x 6 columns],
      Child   Adult  Electric  Racing  Mountain  Tricycle
 0   0.7931  0.7496    0.1268  0.4104    0.5054    0.9223
 1   0.5306  0.6646    0.4667  0.8313    0.7954    0.2174
 2   0.0306  0.4044    0.2428  0.2024    0.1246    0.6572
 3   0.0661  0.9890    0.2406  0.6345    0.9537    0.9899
 4   0.2761  0.5027    0.2745  0.5758    0.4294    0.0016
 5   0.3892  0.5980    0.3463  0.0043    0.8926    0.0506
 6   0.8498  0.8756    0.0244  0.5538    0.8131    0.1229
 7   0.0320  0.3090    0.1287  0.9365    0.3804    0.6280
 8   0.8128  0.6477    0.1467  0.1107    0.7523    0.1994
 9   0.1742  0.2076    0.1781  0.5845    0.9051    0.1350
 10  0.8547  0.7852    0.5350  0.9771    0.4945    0.1669
 11  0.1506  0.4128    0.0689  0.7725    0.1870    0.1211
 12  0.8747  0.8763    0.4876  0.0009    0.7397    0.8034
 13  0.4426  0.8117    0.2353  0.8329    0.3904    0.8034
 14  0.5055  0.1913    0.2456  0.0229    0.6952    0.9317
 15  0.0519  0.7682    0.0535  0.5641    0.1666    0.7795
 16  0.4871  0.8707    0.4432  0.2080    0.0780    0.9238
 17  0.2281  0.7235    0.8463  0.8837    0.2664    0.6987
 18  0.0559  0.9275    0.6679  0.3222    0.7256    0.6020
 19  0.3349  0.9615    0.4285  0.5518    0.5595    0.7199
 20  0.3399  0.9485    0.3537  0.8475    0.5924    0.0072
 21  0.2692  0.2478    0.2681  0.7251    0.3153    0.6023
 22  0.5752  0.2282    0.7457  0.9836    0.5365    0.2443
 23  0.0894  0.3256    0.7093  0.1355    0.5481    0.4564
 24  0.8780  0.1642    0.8446  0.0951    0.3329    0.1512
 25  0.4472  0.7712    0.3917  0.0219    0.2222    0.6158
 26  0.4552  0.6012    0.8149  0.6281    0.4771    0.3979
 27  0.0081  0.1731    0.4516  0.5716    0.9503    0.5272
 28  0.7749  0.3616    0.6735  0.1616    0.6447    0.9602
 29  0.7890  0.6306    0.8072  0.2420    0.8964    0.3970
 30  0.5048  0.5073    0.7269  0.6265    0.6577    0.5015
 31  0.1842  0.1778    0.6722  0.9940    0.0892    0.7295
 32  0.2654  0.4514    0.9250  0.2553    0.2141    0.0537
 33  0.8206  0.5085    0.8725  0.7898    0.2432    0.8693
 34  0.3071  0.6058    0.9640  0.0032    0.2918    0.0426
 35  0.2684  0.0925    0.9330  0.0228    0.6098    0.7707
 36  0.8806  0.6315    0.6002  0.4028    0.6418    0.6315
 37  0.7361  0.7310    0.1340  0.0799    0.5835    0.0495
 38  0.5395  0.9080    0.1238  0.9453    0.8446    0.5902
 39  0.6689  0.9097    0.0146  0.2750    0.1598    0.2793
 40  0.9913  0.7046    0.1559  0.8484    0.0896    0.4933
 41  0.0588  0.7782    0.3115  0.5480    0.8511    0.3243
 42  0.9363  0.6542    0.1453  0.4196    0.6735    0.8408
 43  0.1603  0.7560    0.4177  0.5450    0.9442    0.2928
 44  0.5264  0.9310    0.3179  0.6748    0.8056    0.9139
 45  0.5255  0.7746    0.5952  0.3874    0.1236    0.3992
 46  0.6603  0.6541    0.7268  0.3886    0.7155    0.8472
 47  0.3622  0.5957    0.4959  0.3103    0.0271    0.3107
 48  0.8417  0.5919    0.7950  0.1313    0.8186    0.6442
 49  0.0529  0.0578    0.2338  0.1998    0.8351    0.8301
 50  0.0000  0.6976    0.2856  0.3640    0.3266    0.0030
 51  0.0000  0.8742    0.8430  0.5305    0.8055    0.9623
 52  0.0000  0.2305    0.9046  0.8585    0.1087    0.0000
 53  0.0000  0.6456    0.9704  0.0639    0.1486    0.0000
 54  0.0000  0.3523    0.9762  0.0527    0.1323    0.0000
 55  0.0000  0.2832    0.0231  0.2088    0.2404    0.0000
 56  0.0000  0.0000    0.0362  0.0430    0.9866    0.0000
 57  0.0000  0.0000    0.2496  0.0000    0.9634    0.0000
 58  0.0000  0.0000    0.8856  0.0000    0.4578    0.0000]